# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database
# POSTGRES_URL="**ENTERVALUE**"
# POSTGRES_PRISMA_URL="**ENTERVALUE**"
# POSTGRES_URL_NON_POOLING="**ENTERVALUE**"
# POSTGRES_USER="default"
# POSTGRES_HOST="**ENTERVALUE**"
# POSTGRES_PASSWORD="**ENTERVALUE**"
# POSTGRES_DATABASE="verceldb"

# `openssl rand -base64 32`
# AUTH_SECRET=
# AUTH_URL=http://localhost:3000/api/auth

